.boy{
	position: absolute;
	z-index:10;
	width: 60%;
	height: 80%;
	left:20%;
	bottom:35%;
	background: url(../images/boy.png);
	background-size: 700% 200%;
	background-position: -200% -100%; 
	transform:rotateX(-70deg) skew(18deg);
	transform-origin:50% 100%;
}
.boyLeft{
	transform: rotateX(-70deg) skew(18deg) rotateY(180deg);
}
.boy.walk{
	animation: walk 1s steps(1,start) infinite backwards;
}
.boy.turnLeft{
	animation: turn 1s steps(1,start) forwards;
}
.boy.turnRight{
	animation: turn 1s steps(1,start) reverse;
}
@-webkit-keyframes walk{
	25%{
		background-position: -400% 0;
	}
	50%{
		background-position: -200% -100%; 
	}
	75%{
		background-position: -100% -100%;
	}
	100%{
		background-position: 0 -100%; 
	}
}
@-webkit-keyframes turn {
	17%{
		background-position: -600% -100%;
		transform:rotateX(-70deg) skew(18deg);
	}
	33%{
		background-position: -500% -100%; 
		transform:rotateX(-70deg) skew(18deg);
	}
	50%{
		background-position: -400% -100%;
		transform:rotateX(-70deg) skew(18deg);
	}
	67%{
		background-position: -500% -100%;
		transform:rotateX(-70deg) rotateY(180deg) skew(-18deg);
	}
	83%{
		background-position: -600% -100%; 
		transform:rotateX(-70deg) rotateY(180deg) skew(-18deg);
	}
	100%{
		background-position: -200% -100%; 
		transform:rotateX(-70deg) rotateY(180deg) skew(-18deg);
	}
}