.map{
	/* fixed在Safari下被压在每页的蒙版层下
	position:fixed; */
	position:absolute;
	display:flex;
	width:150px;
	height:150px;
	background-color:#DDD;
	right:1.5rem;
	top:0px;
	z-index:20;
	box-shadow:0 0 10px 4px #CCC;
	perspective: 300px;
	perspective-origin: 0% 100%;
	transform-style:preserve-3d;
	transform-origin:50% 100%;
	transform:rotateX(68deg) skew(-20deg);
	border-radius: 10px;
}
@media screen and (max-width: 700px) {
	.map{
		display:none;
	}
}
.map ol{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	background:url(../images/wall.jpeg);
	background-size:cover;
}
.cell{
	border-radius: 10px;
}
.cell-used{
	border-radius: 0;
	background:url(../images/floor.jpg) no-repeat;
	background-size:cover;
	background-color:#888;
}
.cell-border{
	position:absolute;
	z-index:9;
	background-color:transparent;
	box-sizing:border-box;
	border-radius:10px;
	transform-style:preserve-3d;
}
.cell a{
	display:block;
	height:100%;
	color:#666;
}
.cell a:hover{
	color:#900;
}

