.map{
	position:fixed;
	display:flex;
	width:150px;
	height:150px;
	background-color:#DDD;
	right:100px;
	top:30px;
	z-index:20;
	border-radius:5%;
	/* overflow:hidden; */
	box-shadow:0 0 10px 4px #CCC;
	background-color:#110;
	perspective: 300px;
	perspective-origin: 0% 100%;
	transform-style:preserve-3d;
	transform-origin:50% 100%;
	transform:rotateX(45deg);
}
.map ol{
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	background-color:#FFF;

	/* transform-origin:50% 100%; */
	/* transform:rotateX(90deg); */
	
}
.cell{
	color:#666;
	box-sizing:border-box;
	border-radius:5px;
	/* background-color:#110; */
}
.cell-used{
	border-radius: 10px;
	border-radius:0;
	background-color:#888;
}
.cell-border{
	position:absolute;
	z-index:9;
	/* background-color:#564234; */
	box-sizing:border-box;
	border-radius:10px;
	transform-style:preserve-3d;
	/* transform-origin:50% 100%; */
	/* transform:translateZ(-50%); */
}
.cell a{
	display:block;
	height:100%;
	color:#666;
}
.cell a:hover{
	color:#900;
}

