 /* √ 1.了解我按钮的下面加个小三角箭头
	√ 2.hover后的文字以tooptip形式出现
	√ 3.每一页的位置由js根据Map动态生成
	  4.更换帧动画更多的小人图片?
 */
 /* #scaleBox.active .page.active{}
    #scaleBox .page.active{}
	第二行比第一行快很多,猜想与渲染原理有关,一直也不
	知道css的效率,等有网络了好好查查
  */
html, body,figure, ul, ol, li{
	margin: 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
}
html, body {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: "Microsoft Yahei";
	background: url("../images/banner.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
#thumb{
	/* fixed在Safari下被压在每页的蒙版层下
	position:fixed; */
	position:absolute;
	font-size:25px;
	z-index:1000;
	color:#444;
	top:15px;
	left:15px;
	cursor:pointer;
}
/* 公共样式 */
.box,.page {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
.scaleBox{
	position:absolute;
	height:100%;
	width:100%;
	transition:transform 1s ease-out;
}
/* .scaleBox.active{ */
	/* 这些数值由js根据当前active的page动态计算,就可以满足缩放的效果与 */
	/* 窗口缩小到0.3倍3倍宽高就占整个页面的90,相应的如果是4行四列,就应该是0.225 */
	/* 5%是因为1-90%后左右各5%,95表示最右(下) */
	/* transform:scale(0.3, 0.18); */
	/* transform-origin:5% 5%; */
/* } */
#scaleBox.active .page{
	cursor:pointer;
	/* 缩略图下给boxshadow加过渡效果会导致页面重绘,效率很低 */
	/* transition:box-shadow 1s ease-out; */
}
#scaleBox.active .page:hover{
	box-shadow:0 0 20px 10px #CCC;
}
/*排除法得出这一行是导致缩放卡顿的罪魁祸首*/
#scaleBox.active .page.active{

	/* 1.#scaleBox比#scaleBox.active快(这个是必然的,后者二次查找) */
	/* 2.无论在js还是css里,这个样式的添加都会卡*/
	/* 3.测试发现border会快很多,应该是boxshadow在transform的过程中不断重绘导致的 */
	/* 去掉第一个.active后会好很多干脆在js里改样式?还方便 */
	
}
.page {
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	color:#CCC;
	font-size: 16px;
}
.page:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=0.5);
	z-index: -1;
	background: #616569;
}
.page:nth-child(2n+1):before {
	background-color: #3A495D;
}
.page-title {
	font-size: 30px;
	color: #DDD;
	font-weight: bold;
}
/* 第一页 */
.info {
	font-size: 24px;
	max-width: 300px;
	text-align: center;
	margin: 10% auto;
}
.img-box {
	position: relative;
	margin: 0 auto;
	height: 10rem;
	width: 10rem;
	max-width:220px;
	max-height:220px;
	border-radius: 50%;
	/* transition: all 3s linear; */
	padding:2%;
	background: url('../images/edit.png') no-repeat content-box,linear-gradient(to top left, #7E7E84, #000);
	background-size: cover;
	box-sizing: border-box;
}
.img-mask {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #000;
	transition: all 1.5s;
	opacity: 0;
}
.img-box:hover .img-mask {
	opacity: 0.6;
}
.img-box:hover .img-tooltip {
	opacity:1;
}
.img-tooltip{
	position:absolute;
	opacity:0;
	top:10%;
	right:110%;
	width:7em;
	height:2.5em;
	line-height:2.5em;
	font-size:14px;
	padding:.5em 1em;
	background-color:#666;
	border-radius:10px;
	transition:all 1s linear;
}
.img-tooltip:before{
	position:absolute;
	content:'';
	width:0;
	height:0;
	bottom:30%;
	left:100%;
	color:#333;
	border:10px solid transparent;
	border-left:10px solid #666;
}
#process{
	position:relative;
	height:2px;
	width:100%;
}
/* 这里没用背景图上已完成覆盖所有,是因为当屏幕缩放小到一定程度的时候浏览器存在渲染问题,使得两种颜色混合 */
#process:before{
	position:absolute;
	content:'';
	top:0;
	left:0;
	width:30%;
	max-width:100%;
	height:100%;
	background-color:#CCC;
}
#process:after{
	position:absolute;
	content:'';
	top:0;
	right:0;
	width:70%;
	max-width:100%;
	height:100%;
	background-color:#000;
}
#detail{
	position:relative;
	border: none;
	background: #333;
	color: #eee;
	font-size: 18px;
	cursor:pointer;
	border-radius: 5px;
	padding: 12px 24px;
}
#detail:before{
	position:absolute;
	content:'';
	/* background-color:red; */
	width:0;
	height:0;
	left:50%;
	top:100%;
	margin-left:-12px;
	border:12px solid transparent;
	border-top:12px solid #333;
}
#detail:focus{
	outline:none;
}
/* 第二页 */
.card-group {
	margin:40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center;
	/* overflow:hidden; */
}
.card h3 {
	font-weight: bold;
}
.card {
	box-sizing: border-box;
	padding: 2px;
	text-align: center;
	
	flex:0 1 33%;
	color: #FFF;
	background: rgba(0,0,0,0.3);
	overflow:hidden;
	
}
.card p{
	text-overflow: ellipsis;
}
.card:nth-child(2n) {
	background: rgba(0,0,0,0.6);
}
.project {
	color: #EEE;
	margin: 40px;
	height: 80%;
}
.project h3{
	font-size: 20px;
	text-align:center;
}
.project p{
	font-size: 16px;
	text-indent: 2em;
}
.project .show-box {
	float: right;
	position: relative;
	margin: 10px;
	margin-bottom: 30px;
	height: 8rem;
	width:10rem;
	max-width: 360px;
	max-height:240px;
}
.show-box figure {
	position: absolute;
	width: 80%;
	height: 65%;
	overflow:hidden;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #DDD;
	transition: transform .5s ease-out;
}
.show-box figure:first-child {
	top: -5%;
	left: 0%;
	transform: rotate(-5deg);
}
.show-box figure:nth-child(2) {
	transform: rotate(5deg);
	top: 15%;
	left: 10%;
}
.show-box figure:last-child {
	transform: rotate(10deg);
	top: 31%;
	left: 22%;
}
.show-box figure:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 10px #CCC,-5px -5px 10px #CCC;
	z-index: 10;
}
.demos {
	font-size:20px;
	color:#DDD;
	/* border: 2px solid red; */
	height: 80%;
	perspective: 800px;
	perspective-origin:50% -10%;
	/* -webkit-perspective: 800px; */
	/* -webkit-perspective-origin:50% -10%; */
}
.demos-box {
	position: relative;
	height: 40%;
	width:80%;
	max-width: 350px;
	top: 10%;
	margin:5% auto;
	/* border: 2px solid blue; */
	transform-origin:50% 0;
	transform-style:preserve-3d;
	animation:rotate 8s linear infinite;
}
.demos a{
	color: #FFF;
}
.demos a:hover{
	color: #EEE;
	text-decoration:underline;
}

.demos-box.stop{
	animation-play-state:paused;
}
/* .demos-box:before {
	content:'';
	position:absolute;
	border:2px solid red;
	top:-30%;
	left:50%;
	height:200%;
} */
.demos-box figure {
	position: absolute;
	width:100%;
	height:80%;
	margin:0 auto;
	background-color: #FFF;
	padding: 3px;
	/* padding-bottom:3px; */
	box-shadow:0 0 20px #444;
	border: 1px solid #DDD;
	/* border:2px solid red; */
	/* backface-visibility:; */
}
.demos-box figcaption {
	padding-bottom:20px;
	padding-top:20px;
	box-shadow:0 0 20px #444;
	text-align:center;
	text-shadow:0 0 1px #CCC;
	line-height:30px;
	/* border:2px solid red; */
}
.demos-box figure:first-child{
	transform:rotateY(0deg) translateZ(200px);
}
.demos-box figure:nth-child(2) {
	transform:rotateY(120deg) translateZ(200px);
}
.demos-box figure:last-child{
	transform:rotateY(240deg) translateZ(200px);
}
.address{
	height: 80%;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 18px;
	padding: 30px;
	padding-top:50px;
	color: #FFF;
	border: 1px solid #FFF;
	background: rgba(0,0,0,0.3);
	overflow:hidden;
	text-overflow: ellipsis;
}
.address p{
	/* white-space:nowrap; */
	overflow:hidden;
	text-overflow: ellipsis;
}
.address figure{
	margin:10px;
	overflow:hidden;
	text-overflow: ellipsis;	
}
.address a{
	color: #FFF;
}
.address a:hover{
	color: #EEE;
	text-decoration:underline;
}
.thanks{
	text-indent:2em;
	margin-top:100px;
	font-size:14px;
}
.thanks strong{
	letter-spacing:2px;
	font-size: 16px;
}
.sorry{
	text-indent:2em;
	font-size:14px;
}
@keyframes rotate {
	from { 
		transform:rotateY(0deg);
	}
	to { 
		transform:rotateY(360deg);
	}
}
/* @-webkit-keyframes rotate {
	from { 
		transform:rotateY(0deg);
	}
	to { 
		transform:rotateY(360deg);
	}
}