ul,ol,li{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
html,body{
	position:absolute;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
body{
	font-family:"Microsoft Yahei";
	background: url(../images/banner.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
#box{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
}
#box li{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
}
.first{
}
.first:before{
	position: absolute;
	content: '';
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: 0.5;
	z-index: -1;
	/*z-index: inherit;*/
	/*IE*/
	filter:alpha(opacity=0.5);
}
.fourth{
	top:100%;
	box-sizing:border-box;
	padding:40px;
}
.fourth:before{
	position: absolute;
	content: '';
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:#747;
	opacity: 0.5;
	z-index: -1;
	/*z-index: inherit;*/
	/*IE*/
	filter:alpha(opacity=0.5);
}
.fifth{
	top:100%;
	left:100%;
}
.fifth:before{
	position: absolute;
	content: '';
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: -1;
	background:#520;
	/*z-index: inherit;*/
	/*IE*/
	filter:alpha(opacity=0.5);
}
.eighth{
	top:200%;
	left:100%;
}
.eighth:before{
	position: absolute;
	content: '';
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:#752;
	opacity: 0.5;
	z-index: -1;
	/*z-index: inherit;*/
	/*IE*/
	filter:alpha(opacity=0.5);
}
.ninth{
	top:200%;
	left:200%;
}
.ninth:before{
	position: absolute;
	content: '';
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background:#618;	
	opacity: 0.5;
	z-index: -1;
	/*z-index: inherit;*/
	/*IE*/
	filter:alpha(opacity=0.5);
}
/*首页*/
.info{
	width: 300px;
	text-align: center;
	margin:10% auto;
}
.img-box{
	position:relative;
	margin:0 auto;
	height:240px;
	width:240px;
	overflow:hidden;
}
.img{
	width: 100%;
	height:100%;
	border-radius:50%;
	/* background-image:url(images/me.jpg); */
	background-size:cover;
}
.img-border{
	position:absolute;
	top:0;
	width: 100%;
	height:100%;
	border-radius:50%;
	border:6px solid #B7C0D6;
	border-bottom:6px solid #5F2828;
	border-right:6px solid #5F2828;
	transition: all 1s;
	box-sizing:border-box;
}
.img-mask{
	position:absolute;
	width: 100%;
	height:100%;
	border-radius:50%;
	top:0;
	background-color:#333;
	transition: all 1s;
	opacity:0;
	z-index:-1;
	box-sizing:border-box;
	color:#FFF;
	padding-top:30%;
}
.img-box:hover .img-border{
	transform:rotate(180deg);
}
.img-box:hover .img-mask{
	opacity:0.3;
}
.first button{
	border: none;
	background: #333;
	color: #eee;
	font-size: 18px;
	border-radius: 5px;
	padding: 12px 24px;
}
.first h1{
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
}
/*第二页*/
.card-group{
	display:flex;
	margin:60px;
	flex-wrap:wrap;
	justify-content:center;			
}
.card h3{
	font-size: 24px;
	font-weight: bold;
}
.card{
	box-sizing:border-box;
	width: 33%;
	padding: 30px;
	border: 1px solid #FFF;
}
.card:nth-child(2n){
	background: rgba(0,0,0,0.6);
}