figure, ul, ol, li{
	margin: 0;
	padding: 0;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
}
html, body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: "Microsoft Yahei";
	background: url(../images/banner.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}
.box {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}
.box li {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 200%;
	padding: 1rem;
	box-sizing: border-box;
	overflow: hidden;
}
.box li:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	filter: alpha(opacity=0.5);
	z-index: -1;
	background: #616569;
}
.box li:nth-child(2n+1):before {
	background-color: #3A495D;
}
/* 这部分应该由js根据Map动态生成 */

.info {
	max-width: 300px;
	text-align: center;
	margin: 10% auto;
	font-size: 24px;
	color: #CCC;
}
.img-box {
	position: relative;
	margin: 0 auto;
	height: 10rem;
	width: 10rem;
	max-width:240px;
	max-height:240px;
}
.img {
	position: absolute;
	margin: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 95%;
	height: 95%;
	border-radius: 50%;
	background: url(../images/me.jpg) no-repeat;
	background-size: cover;
}
.img-border {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top left, #7E7E84, #000);
	border-radius: 50%;
	transition: all 3s linear;
	box-shadow: 0 0 20px 2px #7E7E84,0 0 20px -2px #7E7E84;
	box-sizing: border-box;
}
.img-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	z-index: 1;
	background-color: #333;
	transition: all 1.5s;
	opacity: 0;
	padding-top: 35%;
	box-sizing: border-box;
	color: #FFF;
	font-size: 24px;
}
.img-box:hover .img-border {
	transform: rotate(1080deg);
}
.img-box:hover .img-mask {
	opacity: 0.3;
}
#detail{
	border: none;
	background: #333;
	color: #eee;
	font-size: 18px;
	border-radius: 5px;
	padding: 12px 24px;
}
#detail:focus{
	outline:none;
}
.info .career {
	line-height: 50px;
	border-top: 2px solid #FFF;
}
.page-title {
	font-size: 30px;
	color: #DDD;
	font-weight: bold;
}
.card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center;
	/* height:70%; */
	/* overflow:hidden; */
}
.card h3 {
	/* font-size: 24px; */
	font-weight: bold;
}
.card {
	box-sizing: border-box;
	padding: 2px;
	text-align: center;
	font-size: 16px;
	flex:0 1 33%;
	color: #FFF;
	background: rgba(0,0,0,0.3);
	overflow:hidden;
	
}
.card p{
	text-overflow: ellipsis;
}
.card:nth-child(2n) {
	background: rgba(0,0,0,0.6);
}
.project {
	color: #EEE;
	margin: 40px;
	height: 80%;
}
.project h3{
	font-size: 20px;
	text-align:center;
}
.project p{
	font-size: 16px;
	text-indent: 2em;
}
.project .show-box {
	float: right;
	position: relative;
	margin: 10px;
	margin-bottom: 30px;
	height: 8rem;
	width:10rem;
	max-width: 360px;
	max-height:240px;
}
.show-box figure {
	position: absolute;
	width: 80%;
	height: 65%;
	overflow:hidden;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #DDD;
	transition: transform .5s ease-out;
}
.show-box figure:first-child {
	top: -5%;
	left: 0%;
	transform: rotate(-5deg);
}
.show-box figure:nth-child(2) {
	transform: rotate(5deg);
	top: 15%;
	left: 10%;
}
.show-box figure:last-child {
	transform: rotate(10deg);
	top: 31%;
	left: 22%;
}
.show-box figure:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 10px #CCC,-5px -5px 10px #CCC;
	z-index: 10;
}
.demos {
	font-size:20px;
	color:#DDD;
	/* border: 2px solid red; */
	height: 80%;
	-webkit-perspective: 800px;
	-webkit-perspective-origin:50% -10%;
}
.demos-box {
	position: relative;
	height: 40%;
	width:80%;
	max-width: 350px;
	top: 10%;
	margin:5% auto;
	/* border: 2px solid blue; */
	transform-origin:50% 0;
	transform-style:preserve-3d;
	animation:rotate 8s linear infinite;
}
.demos a{
	color: #FFF;
}
.demos a:hover{
	color: #EEE;
	text-decoration:underline;
}
.demos-box:hover{
	animation-play-state:paused;
}
/* .demos-box:before {
	content:'';
	position:absolute;
	border:2px solid red;
	top:-30%;
	left:50%;
	height:200%;
} */
.demos-box figure {
	position: absolute;
	width:100%;
	height:80%;
	margin:0 auto;
	background-color: #FFF;
	padding: 3px;
	/* padding-bottom:3px; */
	box-shadow:0 0 20px #444;
	border: 1px solid #DDD;
	/* border:2px solid red; */
	/* backface-visibility:; */
}
.demos-box figcaption {
	padding-bottom:20px;
	padding-top:20px;
	box-shadow:0 0 20px #444;
	text-align:center;
	text-shadow:0 0 1px #CCC;
	line-height:30px;
	/* border:2px solid red; */
}
.demos-box figure:first-child{
	transform:rotateY(0deg) translateZ(200px);
}
.demos-box figure:nth-child(2) {
	transform:rotateY(120deg) translateZ(200px);
}
.demos-box figure:last-child{
	transform:rotateY(240deg) translateZ(200px);
}
.address{
	height: 80%;
	box-sizing: border-box;
	line-height: 30px;
	font-size: 18px;
	padding: 30px;
	padding-top:50px;
	color: #FFF;
	border: 1px solid #FFF;
	background: rgba(0,0,0,0.3);
	overflow:hidden;
	text-overflow: ellipsis;
}
.address p{
	/* white-space:nowrap; */
	overflow:hidden;
	text-overflow: ellipsis;
}
.address figure{
	margin:10px;
	overflow:hidden;
	text-overflow: ellipsis;	
}
.address a{
	color: #FFF;
}
.address a:hover{
	color: #EEE;
	text-decoration:underline;
}
.thanks{
	margin-top:100px;
	font-size:14px;
}
.thanks strong{
	letter-spacing:2px;
	font-size: 16px;
}
.sorry{
	font-size:14px;
}
@-webkit-keyframes rotate {
	from { 
		transform:rotateY(0deg);
	}
	to { 
		transform:rotateY(360deg);
	}
}